@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Montserrat:wght@300;400;500;700&display=swap');

* {

    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
}

$rayed_color_server: #df255d;
$rayed_color_hover: #aa1e4ad0;
$rayed_color_bg: #aa1e4a88;

.background {

    background: rgb(223, 37, 93);
    background: linear-gradient(90deg, rgba(223, 37, 93, 0.30) 0%, rgba(223, 37, 93, 0.18) 44%, rgba(223, 37, 93, 0.18) 51%, rgba(223, 37, 93, 0.30) 100%);
    width: 100%;
    height: 100vh;
}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 170vh;

    .title-section {

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        .title {

            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1.3em;

            color: #fff;
            margin-bottom: .3vh;

            margin-right: 514px;
        }

        .subtitle {

            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: .8em;

            color: #fff;
            margin-bottom: 1vh;

            margin-right: 514px;
        }
    }

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $rayed_color_bg;
        border-top-color: $rayed_color_server;
        border-top-style: solid;
        border-top-width: 3px;
        border-radius: .2vh;
        width: 630px;
        padding: 10px 0px 10px 0px;

        .description {

            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: .8em;
            max-width: 600px;
            text-align: center;
        }
    }

    .buttons {

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1vh;

        .button {

            background: $rayed_color_bg;
            width: 300px;
            padding: 13px 0vh 13px 0vh;
            margin-left: 15px;
            margin-right: 15px;

            box-sizing: border-box;
            color: #fff;
            text-align: center;

            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: .8em;
            transition: 0.5s;
            border-radius: .3vh;

            &:hover {

                background-color: $rayed_color_hover;
            }
        }
    }
}