@font-face {
    font-family: 'Barlow';   
    src: url(./assets/Barlow.ttf);
}

@font-face {
    font-family: 'SF Pro';
    src: url(./assets/SFPRegular.otf)
}


.chat {
    position: absolute;
    top:10px;
    left:10px;
    width: 140vh;
    height: calc(var(--pagesize) * 2.4vh);

    .messages {
        position: relative;
        margin-left: auto;
        width: 99%;
        height: 100%;
        overflow: hidden;
        outline: none;

        ul {
            position: absolute;
            bottom: -10px;
            width: 100%;
            height: 104%;
            overflow-y: auto;

            &::-webkit-scrollbar {display:none;}

            display: flex;
            flex-direction: column-reverse;

            li {
                list-style: none;
                margin-left: -40px;
                font-family: 'Barlow';
                font-weight: bold;
                font-size: calc(var(--fontsize) * 1.9px);
                color:#fff;


                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            
                &:last-child {margin-top: 20px}
            }
        }

        .addNewMessage {
            animation: chatAddNewMessage 0.2s ease-out;
            @keyframes chatAddNewMessage {
                0% {
                    transform: translateY(23px);
                }
                100% {
                    transform: translateY(0px);
                }
            }
        }
    }

    .bar {
        position: absolute;
        bottom: -55px;
        left:10px;
        width: 70vh;
        height: 46px;

        background: rgba(0, 0, 0, 0.46);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 13px;

        animation: chatShowBar 0.3s ease-out;

        @keyframes chatShowBar {
            0% {
                opacity: 0;
                width: 50vh;
                margin-left: -2vh;
            }
        }

        input {
            background-color: transparent;
            outline: none;
            border:none;
            position: absolute;
            font-size: 18px;
            color:#fff;
            left:10px;
            bottom: 20%;
            width: 83%;
            height: 60%;
        }

        input::selection {
            background-color: rgba(35, 248, 117, 0.2);
            color:#fff;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            top:50%;
            transform: translate(-10px, -50%);
            text-align: center;
            width: 70px;
            height: 25px;

            background: rgba(255, 255, 255, 0.04);
            border-radius: 7px;
        }

        .chars {
            position: absolute;
            right: 0;
            top:50%;
            transform: translate(-10px, -50%);
            text-align: center;
            width: 70px;
            height: 25px;
            line-height: 25px;
            font-family: 'SF Pro';

            background: linear-gradient(265.3deg, rgba(255, 255, 255, 0.74) -4.5%, rgba(255, 255, 255, 0) 104.11%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }        
    }
}

@media (max-width: 1000px) and (min-width: 600px) {
    .chat {
        zoom: 65%;
    }
}

@media (max-width: 1100px) and (min-width: 1001px) {
    .chat {
        zoom: 70%;
    }
}

@media (max-width: 1280px) and (min-width: 1101px) {
    .chat {
        zoom: 75%;
    }
}

@media (max-width: 1400px) and (min-width: 1281px) {
    .chat {
        zoom: 77%;
    }
}

@media (max-width: 1800px) and (min-width: 1401px) {
    .chat {
        zoom: 83.3%;
    }
}

@media (max-width: 2000px) and (min-width: 1800px) {
    .chat {
        zoom: 100%;
    }
}

@media (max-width: 3000px) and (min-width: 2000px) {
    .chat {
        zoom: 100%;
    }
}